<div class="card mx-5" style="max-width: 340px;">
  <!-- max width placed only for fidelity testing / should be ugraded to use columns -->
  <div class="img-background">
    <img class="card-img-top" src="../../resources/summercamp.png" alt="Card image cap" style="">

  </div>

  <div class="card-body funcTest">
    <h3 class="card-title my-3 hide">Summer Learning</h3>

    <div class="content hide">
      <h6 class="text-muted my-4">Brittish Columbia</h6>
      <p class=" card-text text-muted">Summer is in full swing! Now is the perfect time for studetns to learn about BC's
        amazing agriculture and food story.
        We've compiled a fun 90 week learning schedule from June 29th to August 28 to help K-12 Students strengthen
        their
        agriculture and food knowledge before Fall arrives. Each week has a different theme and all resources are free
        to
        download!</p>
    </div>
    <button class="overlay-btn btn btn-info hide mt-3" onclick="on()">Read more</button>

    <!-- below is the hidden overlay -->
    <div id="overlay">
      <p id="text" class="extra-info hidden"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam,</p>
      <button class="overlay-close btn btn-primary hidden" onclick="off()">See less</button>
    </div>
  </div>
  <div class="card-footer bg-transparent text-uppercase">
    <!-- <a href=""><small class="text-muted stretched-link">Visit Website</small></a> -->
    <a href="">
      <p class="stretched-link">Visit Website <i class="fas fa-external-link-alt"></i></p>
    </a>
  </div>
</div>