.mobile-card-container {
  display: block;
}

.card-background {
  background-color: #ffffff;
  border-radius: 6px;
  margin-top: 16px;
  height: 100px;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 51, 102, 0.1);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 51, 102, 0.1);
  box-shadow: 0px 2px 4px 1px rgba(0, 51, 102, 0.1);
}

/* Offsetting and inlarging the main card images */
.img-background {
  background-color: rgba(255,0,0,.25);
  /* transform: translate(10px,10px);
  transform: scale(2, 3);
  -ms-transform: rotate(10deg); /* IE 9 */
  /* transform: rotate(10deg);  */
  transform: matrix(1.1,0,0,1.1,0,0);
}
.img-background::backdrop{
  background-color: rgba(255,0,0,.25);
  transform: translate(10px,10px);
}

/* testing */
.img-background::after{
  content:"";
  display: block;
  width: 75%;
  height:100%;
  background-color: rgb(250, 229, 39);

  /* testing */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: -1;
  transform: rotate(10deg);
  /* transform: matrix(1, 2, -1, 1, 80, 80); */
}
.img-background {
  z-index: 1;
}

/* Creating an overlay for the card body */
.card-body::after {
  content:"";
  visibility: hidden;
  width: 100%;
  height:100%;
  background-color: #333;

  /* testing */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 2;
  /* transform: rotate(10deg); */
}
.card-body {
  z-index: 3;
  position: relative;
}